<strong>Olá, {{deliveryman}}</strong>
<p>Confira abaixo, os detalhes da encomenda disponível para retirada</p>

<div>
  <p><strong>DESTINATÁRIO: </strong></p>
  <p>{{ recipient }}</p>
</div>
<br />

<div>
  <p><strong>ENDEREÇO DE ENTREGA: </strong></p>
  <p>{{ address }}</p>
</div>
<br />


<div>
  <p><strong>PRODUTO: </strong></p>
  <p>{{ product }}</p>
</div>
<br />
